.page-galeria .view-galeria .views-field-field-imagen
{
	max-height: 100px;
	overflow: hidden;
}
.page-galeria .view-galeria .views-field-field-imagen img
{
	width: 100%;
	height: auto;

}



.page-galeria .view-galeria .views-field-title,
.page-galeria .view-galeria .views-field-php
{
	text-align: center;
}
.page-galeria .view-galeria .views-field-php
{
	margin-bottom: 10px;
}


.node-type-album .field.field-name-field-imagen img 
{
    width: 49%;
    height: auto;
    float: left;

    margin: 0px 10px 10px 0px;
}