/*---------Secciones---------------*/

.page-violencia-de-genero .views-field-php,
.page-igualdad-y-coeducacion .views-field-php,
.page-inmigracion .views-field-php,
.page-capm .views-field-php
{
	font-size: 1.4em;
	font-weight: bolder;
	margin-bottom: 10px;
}
.page-violencia-de-genero .views-field-body,
.page-igualdad-y-coeducacion .views-field-body,
.page-inmigracion .views-field-body,
.page-capm .views-field-body
{
	font-size: 1.2em !important;
	text-align: justify;

}
.page-violencia-de-genero .col,
.page-igualdad-y-coeducacion .col,
.page-inmigracion .col,
.page-capm .col
{
	margin-bottom: 15px;
}