/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 body
 {
 	background: rgba(154,179,9,0.27);

 }
 a
 {
 	color: rgb(159,174,9);
 }
 a:hover
 {
 	color:#F4DC00;

 }
 a:visited
 {
 	color:#6D6DA1;
 }
 .views-more-link
 {
 	font-weight: bolder;
 	font-size: 1.1em;
 }
 #top_bar
 {
 	float: right;
 	position: absolute;
 	top: 0px;
 	right: 0px;
 }
 #top_bar .menu a:hover
 {
 	background-color: transparent !important;
 	font-weight: bolder;

 }

 #navbar
 {
 	margin-top: 0px;
 }
 .homepage
 {
 	height: auto;
 	width: 40px;
 	padding-top: 4px;
 	margin-left: 4px;
 	margin-right: 4px;
 }
 .homepage:hover
 {
 	content: url("/sites/all/themes/juristas/icon/hover.png");
 }
 #block-menu-menu-login .block-title
 {
 	display: none;
 }
#first-container
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}


@media (min-width:770px) and (max-width: 991px){
	
	.name 
	{
	    position: relative;
	    top: 56px;
	    left: -342px;
	    /* width: 210px; */
	    font-size: 16px;
	    text-align: center;
	    color: white !important;
	}
	.logo img
	{
		height: auto;
	    width: 372px;
	}
	#first-container
	{
		width: 750px;
	}
}
@media(max-width: 769px){
	 .logo 
	{
		display: none;
	}
	.name
	{
		margin-top: 5px;
		color:rgba(154,179,9,1)!important;

	}


}
@media(min-width:992px ){
	.name
	{
	    position: relative;
	    top: 83px;
	    left: -450px;
	    text-align: center;
	    color: white !important;
	    font-size: 20px;
	}
	.logo img
	{
		height: auto;
	    width: 510px;
	}
	#first-container
	{
		width: 970px;
	}
}
@media(min-width: 1200px){
	#first-container
	{
		width: 1170px;

	}
}
#navbar .navbar-nav .active
{
	background-color: transparent !important;
}
#navbar .navbar-nav .open>a,
#navbar .navbar-nav .active-trail
{
	background-color: rgba(154,179,9,0.2) !important;
}
#navbar .navbar-nav .active-trail .active
{
	color:black;
}
#block-menu-menu-login div
{
	float: right;
}

#block-system-user-menu .block-title
{
	display: none;
}
#block-system-user-menu ul
{
	float: right;
}
#block-system-user-menu ul .leaf
{
	float: left;
}
.field.field-name-field-imagen img {
    width: 50%;
    height: auto;
    float: left;
}
/*-----articulos------*/

.page-node- .field-name-field-categoria .field-items a
{	
	/*background-color: rgba(255, 255, 255, 0.64);*/

	margin-right: 2px;
	float:left;
	padding: 6px 12px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 17px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	/*color: rgb(154,179,9);*/
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	background-image: none;
	border: 1px solid rgb(159,174,9);
	border-radius: 10px;
	-moz-user-select: none;
}

.views-more-link
{
margin-right: 2px;	

	padding: 6px 12px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 17px;
	font-weight: normal;
	line-height: 1.42857;
	text-align: center;
	/*color: rgb(154,179,9);*/
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	background-image: none;
	border: 1px solid rgb(159,174,9);
	border-radius: 10px;
	-moz-user-select: none;
}

.views-more-link:hover
{
	border:1px solid #F4DC00;
}
.views-more-link:visited
{
	border:1px solid #6D6DA1;
} 

#name-and-slogan
{
	position: absolute;
	bottom: 100px;
	left:270px;
	
}
#name-and-slogan a
{
	color: white;
	font-size: 40px;
}
